#div1 {
    padding-top: 20px;
    height: 300px;
    width: 150px;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    
}

div:hover{
    background-color: gray;
    size: 110%;
}